<% layout('layouts/boilerplate') %>

<div
  class="cover-container d-flex align-items-center w-100 h-100 p-3 mx-auto flex-column text-center"
>
  <h1>Address Store</h1>
  <p class="lead">
    Welcome to Address Store! <br />
    Click on the button below to register your address with us. <br />
    Feel free to share , your data is SAFE with us!
  </p>
  <a href="/register">
    <button class="btn btn-primary btn-lg fw-bold">Register</button>
  </a>
</div>
